.AuthContainer {
    padding: 10px 20px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    width: 500px;
    background: #ffffff;
    align-self: center;
    border: thin solid #a9a6a6;
}
.AuthContainer h1{
    color: rgb(0, 0, 0);
}
.AuthForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.InputFieldContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.1rem;
    box-sizing: border-box;
    /* position: relative; */
    margin-bottom: 5px;
}

.InputLabel {
    /* position: absolute;
    top: 10%;
    left: 10px;
    transition: all 0.3s ease-in-out;
    color: #9b9b9b; */
    font-size: 1.3rem;
    font-weight: lighter; 
    color: rgb(60, 60, 60);
}

.Field {
    border-radius: 3px;
    border: thin solid #dbdbdb;
    outline: none;
    color: #000;
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background: #e8f0fe;
    font-weight: lighter;
    transition: border-color 0.3s ease-in;
}

.AuthForm button{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 50px;
    padding: 8px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: large;
    box-sizing: border-box;
}

.AuthForm button:hover{
    background-color: rgb(60, 60, 60);
    font-size: larger;
}

.AuthText {
    padding: 1.1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    align-self: center;
}